---
layout: bio-sidebar
title: "Joon Hyeok Lee"
---

<div class="wrapper">
  <section>
    {% include_cached masthead.html %}

<div align="left">
  <h3 id="research">Research</h3>
  <p>
    My research focuses on [your research interests].
  </p>
</div>

<div align="left">
  <h3 id="teaching">Teaching</h3>
  <p>
    Information about my teaching will be added here.
  </p>
</div>
    
     <p><small>
       <b>About this website:</b> This website uses code from <a href="https://github.com/mmistakes/minimal-mistakes">Minimal Mistakes</a>, Github Pages, uses some CSS from Matt Blackwell's website at the time, and is inspired by Sirus Bouchat's <a
       href="https://bouchat.github.io/">website</a>, Andrew Hall's <a href="http://www.andrewbenjaminhall.com/">website</a>, and Hanno Hilbig's <a href="https://www.hannohilbig.com/">website</a>.
     </small></p>

   </section>
 </div>

{% include copy-bibtex.html %}
