---
layout: bio-sidebar
title: "Joon Hyeok Lee"
---

<div class="wrapper">
  <section>
    {% include_cached masthead.html %}

    <div align="left">
      <h3 id="research">Research</h3>
      <p>
        My research focuses on [your research interests].
      </p>
    </div>

    <div align="left">
      <h3 id="teaching">Teaching</h3>
      <p>
        Information about my teaching will be added here.
      </p>
    </div>

    <p><small>
      <b>About this website:</b> This website uses code from
      <a href="https://github.com/mmistakes/minimal-mistakes">Minimal Mistakes</a>
      and is hosted using GitHub Pages.
    </small></p>

  </section>
</div>

{% include copy-bibtex.html %}
