<div class="wrapper">
  <header>
    <h1>Joon Hyeok Lee</h1>
    <p></p>
    <p style="color:#6f777d"><b>Ph.D. Candidate in Political Science, Yale University</b></p>

<p></p>

<p>
  I am a Ph.D. Candidate in Political Science at Yale University. I study international and comparative political economy. My research focuses on the political economy of sovereign debt, examining how domestic and international politics shape governments’ decisions regarding sovereign borrowing and lending, repayment and default, and debt restructuring in the contemporary era of financial globalization. I hold a B.A. with highest honors in Political Science and Diplomacy and Economics (double major; summa cum laude), as well as an M.A. in Political Science, from Yonsei University, Korea.
</p>

<hr width="70%">

<p>
  <a href="/cv/CV_JoonHyeokLee.pdf">Curriculum Vitae</a>
</p>

<p>
  <a href="https://politicalscience.yale.edu/people/joon-hyeok-lee">Department Website</a>
</p>

<div class="is-container-row is-center">
  <div class="is-inset-8">
    <a href="https://github.com/joon-hyeok-lee" class="is-icon">
      <i class="fab fa-github fa-2x"></i>
    </a>
  </div>

  <div class="is-inset-8">
    <a href="[YOUR GOOGLE SCHOLAR URL]" class="is-icon">
      <i class="ai ai-google-scholar ai-2x"></i>
    </a>
  </div>
</div>

<br>

<p>
  joonhyeok.lee@yale.edu<br>
  115 Prospect Street<br>
  Department of Political Science<br>
  Yale University
</p>
  </header>
</div>
