<div class="wrapper">
  <header>
    <h1>Joon Hyeok Lee</h1>
    <p></p>
    <p style="color:#6f777d"><b>Ph.D. Candidate in Political Science, Yale University</b></p>

<p></p>

<p>
  I am a Ph.D. student in [Department] at [University].
  My research interests include [your research interests].
</p>

<hr width="70%">

<p>
  <a href="/cv/your_cv.pdf">Curriculum Vitae</a>
</p>

<p>
  <a href="[YOUR DEPARTMENT WEBSITE]">Department Website</a>
</p>

<div class="is-container-row is-center">
  <div class="is-inset-8">
    <a href="https://github.com/joon-hyeok-lee" class="is-icon">
      <i class="fab fa-github fa-2x"></i>
    </a>
  </div>

  <div class="is-inset-8">
    <a href="[YOUR GOOGLE SCHOLAR URL]" class="is-icon">
      <i class="ai ai-google-scholar ai-2x"></i>
    </a>
  </div>
</div>

<br>

<p>
  [YOUR EMAIL]<br>
  [YOUR OFFICE / ADDRESS]<br>
  [YOUR DEPARTMENT]<br>
  [YOUR UNIVERSITY]
</p>
  </header>
</div>
